@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.container {
    max-width: 1050px;
    width: 100%;
}

.navbar {
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    margin-top: 1em;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 2.5rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 5em;
    width: 100%;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 30px;
    width: 42px;
    top: 2px;
    left: 10px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    height: 16px;
    width: 22px;
    position: absolute;
    top: 7px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    box-shadow: 6px 6px 6px rgba(34, 34, 34, 0.6);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    justify-content: center;
    background-color: white;
    opacity: 0.9;
}

.navbar .menu-items li {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 0.2em;
}

.logo {
    text-align: center;
    font-size: 1.1em;
    color: #0e2431;
    width: 100%;
}

.logo h1 {
    font-size: 1em;
    text-align: center;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}


/*HOME */

#main-image img {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2em;
}

#welcome {
    text-align: center;
    margin-top: 4em;
    padding: 2em;
    border: 1px solid gray;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: aliceblue;
}

#welcome h1 {
    font-size: 2em;
}

#welcome p {
    font-size: 1.2em;
    margin-top: 2em;
    font-weight: 300;
}

#doctors,
#nurses {
    display: block;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
    border: 1px solid gray;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: aliceblue;
}

#doctors h3 {
    font-size: 1em;
    margin-bottom: 2em;
}

#doctors img {
    width: 10em;
}

#doctors p {
    font-size: 0.7em;
    margin-bottom: 5em;
}

#last-doctor {
    margin-bottom: 3em !important;
}

#nurses-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#nurses-container img {
    width: 5em;
}

#nurses h3 {
    margin-bottom: 2em;
}

#nurses {
    margin-bottom: 5em;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.5em;
    margin: 2em 0em 0em 0em;
    padding: 2em;
    background-color: #49535a;
    color: white;
    text-align: center;
}

#first-foot {
    grid-column: 1/2;
    font-size: 0.5em;
}

#center-foot {
    grid-column: 2/3;
}

#last-foot {
    grid-column: 3;
    font-size: 0.5em;
}


/* Fees Page */

#Fees-image {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#Fees-info {
    padding: 2em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
}

#Fees-info h1 {
    text-align: center;
    margin-bottom: 1em;
}

#Fees-info h3 {
    font-weight: 500;
    margin-bottom: 2em;
}

#Fees-info p {
    font-size: 0.6em;
}

#additional-fee {
    margin-top: 3em;
    font-size: 0.6em;
    font-weight: 500;
    margin-left: 2em;
}

#fees-table img {
    display: block;
    width: 18em;
    margin: 0 auto;
    margin-bottom: 5em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 15px;
    width: 90%;
    margin-top: 2em;
}


/* CONTACT US */

#contact-container {
    padding: 2em;
    margin: 2em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

#contact-address {
    margin-bottom: 3em;
}

#contact-address h1 {
    font-size: 1em;
}

#contact-address h3 {
    font-size: 0.8em;
    margin-bottom: 5px;
}

#contact-container h4 {
    font-size: 0.6em;
}

#contact-picture img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#googlemaps iframe {
    display: block;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 5em;
}

#icons img {
    width: 3em;
}

#icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

@media only screen and (min-width: 768px) {}